In [10]:
from matplotlib import pyplot as plt
import pandas as pd

In [28]:
import pandas
df = pd.read_csv('bike_buyers.csv')
print(df)

        ID Marital Status  Gender    Income  Children        Education  \
0    12496        Married  Female   40000.0       1.0        Bachelors
1    24107        Married    Male   30000.0       3.0  Partial College
2    14177        Married    Male   80000.0       5.0  Partial College
3    24381         Single     NaN   70000.0       0.0        Bachelors
4    25597         Single    Male   30000.0       0.0        Bachelors
..     ...            ...     ...       ...       ...              ...
995  23731        Married    Male   60000.0       2.0      High School
996  28672         Single    Male   70000.0       4.0  Graduate Degree
997  11809        Married     NaN   60000.0       2.0        Bachelors
998  19664         Single    Male  100000.0       3.0        Bachelors
999  12121         Single    Male   60000.0       3.0      High School

         Occupation Home Owner  Cars Commute Distance         Region   Age  \
0    Skilled Manual        Yes   0.0        0-1 Miles         Europe  42.0
1          Clerical        Yes   1.0        0-1 Miles         Europe  43.0
2      Professional         No   2.0        2-5 Miles         Europe  60.0
3      Professional        Yes   1.0       5-10 Miles        Pacific  41.0
4          Clerical         No   0.0        0-1 Miles         Europe  36.0
..              ...        ...   ...              ...            ...   ...
995    Professional        Yes   2.0        2-5 Miles  North America  54.0
996    Professional        Yes   0.0        2-5 Miles  North America  35.0
997  Skilled Manual        Yes   0.0        0-1 Miles  North America  38.0
998      Management         No   3.0        1-2 Miles  North America  38.0
999    Professional        Yes   2.0        10+ Miles  North America  53.0

    Purchased Bike
0               No
1               No
2               No
3              Yes
4              Yes
..             ...
995            Yes
996            Yes
997            Yes
998             No
999            Yes

[1000 rows x 13 columns]